body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    display: flex;
}

.control-panel {
    height: 600px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin-right: 100px;
}

.btn {
    width: 200px;
    height: 50px;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    font-size: 1.5rem;
    color: black;
    
}

.btn:hover{
    filter: invert(100%);
}



.container {
    width: 600px;
    height: 600px;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid-panel {
    border: solid 1px rgb(254, 254, 254);
    margin: 0;
    box-sizing: border-box;
}