body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 600px;
    height: 600px;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid-panel {
    border: solid 1px rgb(254, 254, 254);
    margin: 0;
    box-sizing: border-box;
}